---
import Layout from "../layouts/BaseLayout.astro";
import "../styles/main.scss";
import Card from "../components/Card.astro";
import Heading from "../components/Heading.astro";
import LastEntries from "../components/LastEntries.astro";
import Contact from "../components/Contact.astro";
import Test from "../components/Test.vue"
---

<Layout title="Blog von Durus">
    <main>
      <div class="mb-16">
        <Heading />
        <!-- <Test></Test>-->
        <p
          class="mt-4 text-lg text-zinc-500 dark:text-zinc-400 font-light lg:text-xl"
        >
          Mein Name ist René "Durus" Regensbogen.
          Ich habe meine Leidenschaft zum Studium gemacht und studiere seit 2023 dual Informatik bei der ZF Friedrichshafen.
          In diesem Blog will ich von Themen rund um IT, Tech und Gaming berichten.
          Besonders wichtig sind mir hierbei neue Technologien und Entwicklungen, die neu und unkonventionell sind.
        </p>
      </div>
      <div class="mb-16 mx-auto">
        <h2
          class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white"
        >
          Letzte Posts <!-- TODO: List recent blog posts -->
        </h2>
        <LastEntries />
      </div>



      <div class="my-8">
        <Contact />
      </div>
    </main>
</Layout>

<style is:global>
  main {
    margin: auto;
    padding: 0.75rem;
    width: 1100px;
    max-width: 100%;
    color: white;
    line-height: 1.6;
  }
  .projects-alt > li {
    gap: 1rem !important;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }

  .text-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0;
    font-size: 2.75rem;
  }
  .link-card-grid {
    display: grid;
    gap: 0;
    padding: 0;
  }
</style>

<script></script>
