---
import Layout from "../layouts/BaseLayout.astro";
import Heading from "../components/Heading.astro";
import LastEntries from "../components/LastEntries.astro";
import Contact from "../components/PersonalInfo.astro";
---

<Layout title="Blog von Durus">

    <div id="contents">
        <main class="container">
            <div class="mb-16">
                <Heading/>

                <p
                        class="mt-4 text-lg text-secondary font-light lg:text-xl"
                >
                    Mein Name ist René "Durus" Regensbogen.
                    Ich studiere seit 2023 Informatik an der dualen Hochschule Baden-Württemberg in Friedrichshafen.
                    Willkommen auf meiner Website!
                </p>
            </div>
            <div class="mb-16 mx-auto">
                <h2
                        class="text-3xl mt-6 lg:text-4xl tracking-tight"
                >Letzte Posts</h2>
                <LastEntries/>
            </div>


            <div class="my-8">
                <Contact/>
            </div>
        </main>
    </div>
</Layout>

<style is:global>
    main {
        margin: auto;
        padding: 0.75rem;
        width: 1100px;
        max-width: 100%;
        line-height: 1.6;
    }

    .project-image {
        max-width: 100% !important;
        overflow: hidden;
    }

    .project-cards {
    }

    .video-wrapper {
        background: #111111;
        padding: calc(1.5rem - 1px);
        line-height: 1.4;
        border-radius: 8px;
        margin-bottom: 2rem;
    }

    .project-column > div {
        max-width: 100%;
        overflow: hidden;
    }

    .projects-alt > li {
        gap: 1rem !important;
    }

    .astro-a {
        position: absolute;
        top: -32px;
        left: 50%;
        transform: translatex(-50%);
        width: 220px;
        height: auto;
        z-index: -1;
    }

    .link-card-grid {
        display: grid;
        gap: 0;
        padding: 0;
    }

    details {
        position: relative;
        top: -1px;
        margin-top: 0;
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: 0 0 8px 8px;
        max-width: 900px;
    }

    details > div {
        max-width: 830px;
    }

    summary:hover {
        cursor: pointer;
    }

    h2 {
        font-weight: bolder;
    }
</style>

<script></script>
