---
import AllEntries from "../components/AllEntries.astro"
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout>
    <h2 class="text-3xl mt-6 lg:text-4xl tracking-tight">Alle Posts</h2>
    <AllEntries/>
</MainLayout>