---
import { Image } from 'astro:assets';
import headshot from '../assets/Profilbild.webp';
import Cite  from "./cite.vue";
---

<div class="relative flex items-center my-4 gap-x-4">
    <Image 
    src={headshot}
    densities={[1, 2, 3]}
    alt="Drachenkopf Logo"
    class="h-16 w-16"
    />
 
  <div class="text-lg leading-6">
    <h1 class="text-4xl font-semibold mt-0 grimoire-font">
        Website von Durus
    </h1>
    <Cite client:only="vue"/>
  </div>
</div>
