---
import {Image} from 'astro:assets';
import headshot from '../assets/Profilbild.jpeg';
const cite = "Hier kommen Cites hin..." // TODO: Add dynamic Cites
---

<div class="avatar">
    <Image
            src={headshot}
            densities={[1, 2, 3]}
            alt="Drachenkopf Logo"
            class="logo"
    />

    <div class="heading-text">
        <h1>
            <span class="inset"></span>
            Blog von Durus
        </h1>
        <p class="cite">{cite}</p>
    </div>
</div>
<style lang="scss">
  @import '../styles/main.scss';

  .avatar {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

  }

  .logo {
    height: 4rem;
    width: 4rem;
  }

  .heading-text {
    font-size: 1.125em;
    line-height: 1.5rem;
  }

  .heading-text h1 {
    font-weight: 600;
    font-size: 1.5rem;
    color: $primary;
    margin-bottom: 0.5em;
  }

  span .inset {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .cite {
    color: $secondary;
  }


</style>
