---

import Social from "./Social.astro";
---
<div class="flex justify-center mt-14 mb-10">
    <Social/>
</div>
<div class="flex justify-center mb-16">Dieser Blog basiert auf&nbsp; <a
        href="https://github.com/leabs/shadowstack-portfolio">ShadowStack Portfolio</a>.
</div>