---
import { Image } from "astro:assets";
import Mainquest_Logo from "../assets/mainquest.png";
import Footer from "./Footer.astro";

import { getEntry } from "astro:content"
const personal_info = await getEntry("meta", "personal_info")
//console.log(personal_info)
const PersonalInfoRender = await personal_info.render()
const PersonalInfo = PersonalInfoRender.Content
const personal_info_title = personal_info.data.title
---


<div id="personal_info">
    <div class="mb-16 mx-auto">
        <h2 class="font-bold text-3xl m-0 mb-2">{personal_info_title}</h2>
            <PersonalInfo/>
        <div class="flex justify-center mt-40 mb-8">
            <Image src={Mainquest_Logo}
                   alt="Mainquest e. V. Logo"/>
        </div>
        <p></p>
        <p></p>An dieser Stelle möchte ich außerdem auf den MainQuest-Discordserver verweisen. Dieser Server ist ein
        Platz, um mit anderen christlichen Nerds in Kontakt zu treten und sich über Games, Technik, sonstigen Nerdkram
        und Glauben auszutauschen.&nbsp; <a href="https://mainquest.org">Erfahre hier mehr</a>. <!-- TODO: Auf Community ausweiten-->
    </div>
    <Footer/>
</div>

<style is:global>
    form {
        padding: 20px 0;
    }
    h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    h3 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    ul {
        padding-left: 2em;
    }

    li {
        list-style-type: square;
        text-indent: -1em;
        padding: 5px 0 10px 1em;
    }
</style>
