$primary: oklch(var(--p));
$secondary: oklch(var(--s));
$accent: oklch(var(--a));
$neutral: oklch(var(--n));

main {
  background-color: var(--bg);
  animation: fadein 2s;
}
@font-face {
  font-family: IndustryBlack;
  src: url("/IndustryBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3 {
  font-family: "IndustryBlack", sans-serif !important;
}
.industry {
  font-family: "IndustryBlack", sans-serif !important;
}

h1 {
  color: $primary;
}
h2 {
  color: $secondary;
}
h3 {
  color: $accent;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono,
  DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;

}
input {
  border-radius: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}

a:hover {
  color: $neutral
}

main {
  max-width: calc(100% - 2rem);
  color: var(--pc);
  width: 1100px;
  margin: 0 auto;
  line-height: 1.6;
}
.container {
  width: 1100px;
  padding: 1rem;
  margin: auto;
}
html {
  font-family: system-ui, sans-serif;
  background-size: 224px;
}
code {
  font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
}

header {
  max-width: 100%;
  height: auto;
}
video {
  max-width: 100%;
}
body {
  margin: 0;
}
h1 {
  margin-top: 0.25rem;
}
.text-center {
  text-align: center;
}
.spinner {
  display: block;
  animation: fadeout 1s;
}
.card {
  display: none;
}

#dotone {
  animation: blink 1s infinite;
}
#dottwo {
  animation: blink 1s infinite;
  animation-delay: 0.25s;
}
#dotthree {
  animation: blink 1s infinite;
  animation-delay: 0.5s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}